h1 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.header {
    color: brown;
}

nav{
    background-color: #333;
    text-align: center;
}


nav a{
    font-size: 17px;
    font-family: 'Comic Sans MS', sans-serif;
}

body{
    margin
}
//form
form{
    text-align: center;
}

form input[type="submit"],
form input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

form input[type="submit"]:hover,
form input[type="button"]:hover
{
	background: #109177;
}

input {
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}