<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>

<div th:replace="fragments/header::header"/>

<img src="https://www.w3schools.com/howto/img_snow.jpg" height="150" width="160" />

<ul>
    First Name: <li th:text="${user.firstName}"></li>
    Last Name: <li th:text="${user.lastName}"></li>
    Date of birth: <li th:text="${user.dateOfBirth}"></li>
    Bio: <li th:text="${user.bio}"></li>
</ul>

<h2>All posts of <span th:text="${user.firstName}" /></h2>
<ul>
    <li th:each="post:${user.posts}">
        <span th:text="${post.body}" />
        <span th:text="${post.createdAt}"/>
    </li>
</ul>

<form method="POST" th:action="@{'/users/' + ${user.id} + '/followees'}">
    <button type="submit" >Follow</button>
</form>

</body>
</html>