<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<h2>Sign up</h2>
<form method="POST" action="/signup" th:object="${user}">
    <lable for="username"> username:</lable><input th:field="*{username}" /><br />
    <lable for="password"> password:</lable><input th:field="*{password}"/><br />
    <lable for="firstName"> firstName:</lable><input th:field="*{firstName}" /><br />
    <lable for="lastName"> lastName:</lable><input th:field="*{lastName}" /><br />
    <lable for="dataOfBirth"> date of birth:</lable><input th:field="*{dateOfBirth}"/><br />
    <lable for="bio"> bio:</lable><input th:field="*{bio}"/><br />

    <input type="submit" />
</form>
</body>
</html>