<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>

<div th:replace="fragments/header::potato"/>

<h2>Sign up</h2>
<form method="POST" action="/signup" >
    <lable for="username"> username:</lable><input th:name="username" type="text" /><br />
    <lable for="password"> password:</lable><input th:name="password" type="text"/><br />
    <lable for="firstName"> firstName:</lable><input th:name="firstName" type="text"/><br />
    <lable for="lastName"> lastName:</lable><input th:name="lastName" type="text"/><br />
    <lable for="dataOfBirth"> date of birth:</lable><input th:name="dateOfBirth" type="date"/><br />
    <lable for="bio"> bio:</lable><input th:name="bio" type="text"/><br />

    <input type="submit" />
</form>
</body>
</html>