<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
<div th:replace="fragments/header::potato"/>

<h3> Welcome back, <span th:text="${principal.getName()}"></span>!</h3>

<form method="POST" action="/welcome">
    Post Body: <input name="body" type="text" /><br />
    <input type="submit" />

</form>

<h4><a th:href="@{'/users/' + ${currentUser.id} }">My profile</a></h4>

<!--<h4><a th:href="@{'/logout'}" methods="POST">Logout</a></h4>-->
</body>
</html>