<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>

    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
<div th:replace="fragments/header::header"/>
<span><a th:href="@{'/users/' + ${currentUser.id} }">My profile</a></span>
<span><a th:href="@{'/users/' + ${currentUser.id} + '/followees' }">My followees</a></span>


<h3> Welcome back, <span th:text="${currentUser.firstName}"></span>!</h3>

<form method="POST" action="/welcome">
    Post Body: <input name="body" type="text" /><br />
    <input type="submit" />
</form>

<h3> Check these friends around you.</h3>
<ul>
    <li th:each="potentialFriend: ${potentialFriends}" >
        <a th:href="'/users/' + ${potentialFriend.id}">
            <span th:text="${potentialFriend.firstName}"/>
            <span th:text="${potentialFriend.lastName}"/>
        </a>
    </li>

</ul>

</body>
</html>